

  <div class="card">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div  [class]= "getCarImageClass(carimageUrl)" *ngFor="let carimageUrl of carImages">
          <img src="https://localhost:44328/img/{{ carimageUrl.imagePath }}" class="d-block w-100" >
        </div>
        
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body" *ngIf="dataLoaded == true" >
      <h5 class="card-title">{{ car.carName }}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <b>Model Yılı : </b> {{car.modelYear}}</li>
        <li class="list-group-item"><b>Araç Rengi : </b> {{car.colorName}}</li>
        <li class="list-group-item"><b>Markası : </b> {{car.brandName}}</li>
        <li class="list-group-item"><b>Günlük Fiyatı : </b> {{car.dailyPrice}}</li>
      </ul>
      <p class="card-text">{{car.description}}</p>
      <button class="btn btn-lg btn-outline-primary mt-3">Aracı Kirala</button>
    </div>
  </div>

  



  