
<div class="container my-5">
  <div class="card" style="box-shadow: 10px 10px 10px gray;">
    <div class="card-header d-flex justify-content-center">
      <h3 class="card-title">Araç Ayrıntıları</h3>
    </div>
 
    <div class="card-body" *ngIf="dataLoaded == true" >
      <div class="row">
        <div class="col-6">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div  [class]= "getCarImageClass(carimageUrl)" *ngFor="let carimageUrl of carImages">
                <img src="https://localhost:44328/img/{{ carimageUrl.imagePath }}" class="d-block w-100" >
              </div>
              
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        </div>

        <div class="col-6">
          <h3 class="card-title"></h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-3 d-flex justify-content-center"> <h3> {{ car.carName }} </h3></li>
            <li class="list-group-item p-3"> <b>Model Yılı : </b> {{car.modelYear}}</li>
            <li class="list-group-item p-3"><b>Araç Rengi : </b> {{car.colorName}}</li>
            <li class="list-group-item p-3"><b>Markası : </b> {{car.brandName}}</li>
            <li class="list-group-item p-3"><b>Günlük Fiyatı : </b> {{car.dailyPrice}}</li>
            <li class="list-group-item p-3"><b>Açıklama: </b> {{car.description}}</li>
            <li class="list-group-item p-3"><b>Findex Puanı: </b> {{car.findex}}</li>
          </ul>
       
    
        </div>
      </div>

    
  </div>
  <div class="card-footer d-flex justify-content-end">
  
    <button class="btn btn-lg btn-outline-primary mt-3 px-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Aracı Kirala</button>
  </div>
</div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
              <div class="row mb-3">
                <div class="col-6">
                  <label for="rentDate">Kiralama Tarihi</label>
                  <input type="date" [(ngModel)]='rentDate' id="rentDate" class="form-control" [ngModelOptions]="{standalone: true}" required>
                </div>
                <div class="col-6">
                  <label for="returnDate">Geri Dönüş Terihi</label> 
                  <input type="date" [(ngModel)]='returnDate' id="returnDate" class="form-control" [ngModelOptions]="{standalone: true}" required>
                </div>
                <div class="mb-3">
                  <label for="customerId">Customer Id</label>
                  <input class="form-control" [(ngModel)]="customerId" type="number" name="" id="customerId" [ngModelOptions]="{standalone: true}" readonly>
                </div>
                
              </div>
              
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="returnDate&&customerId&&rentDate" (click)="createRental()" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/payment">Ödeme Yap</button>
        </div>
      </div>
    </div>
  </div>

  



  