<div class="container mt-5">
<h5 class="alert alert-secondary mt-3">Kiralanan Arabaların Listesi</h5>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Araba</th>
      <th scope="col">Müşteri Adı ve Soyadı</th>
      <th scope="col">Kiralama Tarihi</th>
      <th scope="col">Aracın Dönüş Tarihi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.carName }}</td>
      <td>{{ rental.customerName }}</td>
      <td>{{ rental.rentDate |date}}</td>
      <td>{{ rental.returnDate |date }}</td>
    </tr>
  </tbody>
</table>
</div>
