<div class="body">
  <app-navi></app-navi>

  <div class="row content">
    <div class="col-md-3">
      <app-filter></app-filter>

      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingUpdate">
            <button class="accordion-button collapsed"
             type="button"
              data-bs-toggle="collapse"
               data-bs-target="#flush-collapseUpdate"
                aria-expanded="false"
                 aria-controls="flush-collapseUpdate">
             Güncelleme Ve Silme
            </button>
          </h2>
          <div id="flush-collapseUpdate" class="accordion-collapse collapse" aria-labelledby="flush-headingUpdate" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
              <app-update-and-delete></app-update-and-delete>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwoAdd">
            <button class="accordion-button collapsed" 
            type="button" data-bs-toggle="collapse" 
            data-bs-target="#flush-collapseAdd"
             aria-expanded="false"
              aria-controls="flush-collapseAdd">
             Eleman Ekle
            </button>
          </h2>
          <div id="flush-collapseAdd" class="accordion-collapse collapse" aria-labelledby="flush-headingAdd" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
              <app-add-menu></app-add-menu>  
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Markalar
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <app-brand></app-brand> 
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           Renkler
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><app-color></app-color></div>
        </div>
      </div>
      
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
   
  </div>
</div>
