<div class="container body">
  <app-navi></app-navi>

  <div class="row content">
    <div class="col-md-2">
      <app-brand></app-brand>
    </div>
    <div class="col-md-8">
      <h5 class="alert alert-secondary">Müşteri Listesi</h5>
    
      <app-customer></app-customer>

      <h5 class="alert alert-secondary">Araba Listesi</h5>
      
      <app-car></app-car>

      <h5 class="alert alert-secondary mt-3">Kiralanan Arabaların Listesi</h5>
    
      
      <app-rental></app-rental>
    </div>
    <div class="col-md-2">
      <app-color></app-color>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
