<div class="container body">
  <app-navi></app-navi>

  <div class="row content">
    <div class="col-md-2">
      <app-brand></app-brand>
    </div>
    <div class="col-md-8">
      <h5>Müşteri Listesi</h5>
      <hr />
      <br />
      <app-customer></app-customer>

      <h5>Araba Listesi</h5>
      <hr />
      <br />
      <app-car></app-car>

      <br />
      <h5>Kiralanan Arabaların Listesi</h5>
      <hr />
      
      <app-rental></app-rental>
    </div>
    <div class="col-md-2">
      <app-color></app-color>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
